
OPENAI_API_KEY=sk-your-openai-key
MODEL_NAME=gpt-5.4-mini
EVALUATION_MODEL_NAME=gpt-4.1-mini

DATABASE_URI=postgresql://talentos:talentos@postgres:5432/talentos

MCP_URL=
#If you are running locally on host system
# MCP_URL=http://127.0.0.1:8000/mcp

#If you are running the ai server in a docker container, and mcp server is running locally on host system
# MCP_URL=http://host.docker.internal:8000/mcp

#If you are running both ai-server & mcp server in a docker container on a same docker network
# MCP_URL=http://<mcp-server-container-name>:8000/mcp